:root{
    /* fonte */
    --font--dm-sans: "DM Sans", sans-serif;

    /* colors */
    --bg-icon: #131313;
    --gb-arrow-color: rgba(0,0,07);
    --img-icon: white;
    --img-bg-icon: transparent;
}

